---
import Base from "../layouts/Base.astro";
---

<Base title="todo">
  <main x-data="dodo">
    <p x-text="ga"></p>
    <p x-text="gp"></p>
    <ul>
      <template x-for="f in fruits">
        <li x-text="f"></li>
      </template>
    </ul>
  </main>
</Base>
<script>
  import Alpine from "alpinejs";

  Alpine.data("dodo", () => ({
    ga: "hello gap",
    gp: "hello ss",
    fruits: ["a", "b", "c"],
  }));
</script>
